body
{
    text-transform: uppercase;
    background-image: url(https://images.unsplash.com/photo-1603881033666-c24ee5c59c31);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    color: #1A1D1A !important;
    min-height: 90vh;
}
hr.hr
{
    height: 3px;
    filter: drop-shadow(1px 1px 10px aliceblue);
    background-image: linear-gradient(to right,rgba(240, 248, 255,0), #1A1D1A, rgba(240, 248, 255,0));
}
.country h1
{
    font-size: 4.5rem;
    margin-top: 20px;
    
}
form
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.search-bar
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
    width: 100%;
}
.search-bar input
{
    width: 60%;
    opacity: 0.5;
    padding: 5px 15px;
    outline: none;
    border-radius: 16px 0px 16px 0px;
    border: none;
    filter: drop-shadow(1px 1px 10px grey);
    color: #1A1D1A!important;
    border-bottom: 2px solid rgb(255, 51, 31);
}
.city-weather
{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    background-color: rgba(54, 38, 200,0.3);
    border-radius: 50px 0px 50px 0px;
}
.city-weather .temp p
{
    font-size: 8em;
    color: #3626A7;
    text-shadow: 4px 3px 3px  #1A1D1A;
}
.city-weather .temp p span
{
    color: aliceblue;
}
.city-weather .weather
{
    display: inline-block;
    font-size: 3em;
    color: aliceblue;
    text-shadow: 4px 3px 3px  #1A1D1A;
}
.weather-additional
{
    
    padding: 10px 20px;
    /* background:  linear-gradient(to bottom right,#3626A7 , #130e3d);; */
    margin-top: 30px;
    color: #8AB0AB;
    border-radius: 26px 0px 26px 0px;
    filter: drop-shadow(1px 1px 10px #1a1d1a);
}
.weather-additional p
{
    color: #FF331F;
}
.weather-additional p span{

    color: aliceblue;
}